.App {
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
}
li{
  list-style: none;
}
.navbar{
  display: flex;
  justify-content: center;
}
.profile{
  display: grid;
  justify-content: space-around;
}
.adduser input{
  background-color: white;
  border-radius: 5px;
  padding: 10%;
}
.adduser input[type=submit]{
  padding: 10%;
  width: 100px;
}